<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">My Application</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Development <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/page/static/prerequisites">Prerequisites</a></li>
                        <li><a href="/page/static/running">Running the app</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Front-end <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/page/static/responsiveGrid">Multichannel</a></li>
                        <li><a href="/page/static/navigation">Navigation</a></li>
                        <li><a href="/page/static/staticScreen">Static Screens</a></li>
                        <li><a href="/page/static/dynamicScreens">Dynamic Screens</a></li>
                    </ul>
                </li>
                <li><a href="/page/books">Books</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="theme in themes"><a href="#" ng-click="changeTheme(theme.css)">{{theme.title}}</a></li>
                        <li class="divider"></li>
                        <li><a href="http://bootswatch.com/">Bootswatch (free)</a></li>
                        <li><a href="https://wrapbootstrap.com/">{wrap}bootstrap (paid)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>